* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Barlow';
    height: 100vh;
    width: 100wh;
}

.container {
    scroll-snap-type: both mandatory;
    /* IMP */
    overflow: scroll;
    /* IMP */
    height: 100vh;
    /* IMP */
    display: flex;
    flex-direction: column;
}

.one,
.two,
.three,
.footer {
    scroll-snap-align: start;
}


/* Header */

.social-media-icons,
.left-logo-divider,
.right-logo-divider,
nav,
.slider-button {
    display: none;
}

.one {
    flex: none;
    margin: 0;
    height: 100vh;
    width: 100wh;
    background-repeat: no-repeat;
    background-size: cover;
}

.one {
    background-image: url("images/mob-nav.jpg");
}

.one-two {
    width: 100wh;
    height: 100vh;
    background: rgba(0, 0, 0, 0.55);
}

.site-logo {
    width: 100wh;
    display: flex;
    justify-content: center;
}

.logo {
    margin-top: 2rem;
}

.logo img {
    height: 9rem;
}

.header-heading {
    width: 100wh;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 22rem);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header-heading h1 {
    margin-bottom: -.4rem;
    font-size: 7.5rem;
    font-style: normal;
    font-weight: normal;
    line-height: 100%;
    letter-spacing: 0.02em
}

.header-heading p {
    margin: -.4rem;
    font-family: Barlow;
    font-style: normal;
    font-weight: bold;
    font-size: .8rem;
    line-height: 141.9%;
    letter-spacing: 0.205em;
}

.heading-yellow {
    color: #F5CE42;
}

.heading-white {
    color: #FFFFFF;
}


/* Events */

.two {
    flex: none;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("images/events.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event-body {
    width: 18rem;
    padding: 1rem 1.5rem;
    height: auto;
    color: #FFFFFF;
    background: rgba(40, 4, 4, 0.49);
}

.event-heading {
    font-family: Barlow;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    /* or 36px */
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding: .9rem;
}

.event-content {
    font-family: Barlow;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    padding-bottom: 1rem;
}


/* Our Team */

.three {
    flex: none;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.team-heading {
    margin-top: 5rem;
    flex: none;
    font-family: Barlow;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 141.9%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
}

.team {
    width: 70%;
    height: 61%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: #F5CE42; */
}

.row {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.member {
    width: 7.75rem;
    height: 7.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FAFAFA;
    border-radius: 5px;
    filter: drop-shadow(0.399828px 0.799655px 3.99828px #E2E1E2)
}

.member-dp {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-image: url("images/member-dp.png");
}

.member-name {
    font-family: Barlow;
    font-style: normal;
    font-weight: 600;
    font-size: .7rem;
    line-height: 141.9%;
    text-align: center;
    letter-spacing: 0.02em
}

.member-position {
    font-family: Barlow;
    font-style: normal;
    font-weight: 200;
    font-size: .45rem;
    line-height: 141.9%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
}